
/* Mobile */
@media (max-width: 767px) {
 .glyphicon-random{
    font-size: 0.9em;
  }  
  .glyphicon-facetime-video{
    font-size: 1.6em;
  }
   #socialMedia li{
      font-size: 0.8em;
  }
   #testLogo{
    padding-top: 20px;
    width: 40% !important;
    margin-left: 9px;
  }
  .glyphicon-search{
    font-size: 1.0em;
  }
  

   #promotedVid p{
    font-size: 0.8em;
   }
   .mainVid{
  font-size: 0.8em;
 }
 h2{
  font-size: 1.3em;
 }
  .promoted{
    margin: 0px 0 20px 0;
  }

  #promotedDiv{
    padding-bottom: 20px !important;
  }

  #menuBar{

  }
}

/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
   .glyphicon-random{
    font-size: 1.0em;
  }  
  .glyphicon-facetime-video{
    font-size: 1.8em;
  } 
  .glyphicon-search{
    font-size: 1.1em;
  }
   #socialMedia li{
      font-size: 1.0em;
  }
   #testLogo{
    padding-top: 20px;
  }
  #secondRow, #thirdRow{
      height: 540px;
 }
 #promotedVid p{
    font-size: 0.8em;
   }

  
   .mainVid{
  font-size: 0.8em;
 }
  h2{
  font-size: 1.2em;
 }
#promotedDiv{
    margin-bottom: 20px !important;
  }

  #menuBar{
     opacity: 1;
  }
 
}

/* laptops */
@media (max-width: 1023px) and (min-width: 992px) {
   .glyphicon-random{
    font-size: 1.2em;
  }  
  .glyphicon-facetime-video{
    font-size: 2.0em;
  }
  .glyphicon-search{
    font-size: 1.3em;
  }
   #socialMedia li{
      font-size: 1.2em;
  }
   #testLogo{
    padding-top: 15px;
  }
  #secondRow, #thirdRow{
      height: 300px;
 }
 #promotedVid p{
    font-size: 0.9em;
   }
   .mainVid{
  font-size: 0.9em;
 }
 #searchInput{
  width: 17em;
  font-size: 1.1em;
 }
  h2{
  font-size: 1.3em;
 }
}

/* desktops */
@media (min-width: 1024px) {
  .glyphicon-random{
    font-size: 1.5em;
  }  
  .glyphicon-facetime-video{
    font-size: 2.0em;
  }
  .glyphicon-search{
    font-size: 1.3em;
  }
  #socialMedia li{
      font-size: 1.6em;
  }
    #testLogo{
    padding-top: 8px;
  }
 #promotedVid p{
    font-size: 1.0em;
   }
 
 .mainVid{
  font-size: 0.9em;
 }

 #promotedVid img{
  width: 70%;
  height: 70%;
 }

 h2{
  font-size: 1.5em;
 }
}

h2{
  size: 0.6em;
}

.slick {
   overflow: visible;
}

/*
**
**
**
.promoImg{
  height: 120px !important; 
  width: 210px !important;
}
**
**
**
**
*/


body{
    background-color: #f2f2f2 !important;
}
  
  .vid{
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
  }
  .vid:hover{
    cursor: pointer;
  }
  .glyphicon-random{
    float: left;
  }
  .glyphicon-facetime-video{
    float: left;
      padding-top: 10px;
  }
  .glyphicon-menu-hamburger{
    float: right;
    font-size: 2.0em;
  }

   
    .bottom{
    background-color: #b8e0f6;
    }


    .borderTog{
          border-bottom: 2px solid black;

    }
    .toggleDiv{
      margin: 0 0 0 0px;
      font-size: 1.2em;
      display: block;
    }

    .toggleDiv p{
      color: black;
    }
    .togPara{
      padding: 3px 0 3px 12px;
    }

    .toggleMenu{
      color:white;
    }

    *{
    word-wrap: break-word;
    font-family: "Futura",Times, serif;

  }

  .mainBody{
    background-color: #f2f2f2;

  }

  .clipped{
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    max-width: 360px;
  }
 
  .glyphicon-random:hover, .glyphicon-chevron-left:hover,.glyphicon-chevron-right:hover, .glyph-facetime-video:hover, #socialMedia li:hover, #sideBar li:hover, .glyphicon-search:hover{
    color: white;
  }
   button{
    background-color: #b8e0f6;
   }



  .glyphicon-search{
    margin-right: 10px;
  }
  #glyph{
    float: left;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 10px;
    width: 5%
  }

  #menuBar{
  background-color: #b8e0f6;
  height: 100px;
  }

  #menuBar p{
    float: left;
  }

  #testLogo{
    width: 20%;
    height: 60%;
    float: left;
  }

  #socialMedia{
    position: relative;
    width: 40%;
    float: right;
    margin-top: 30px;
    padding-left: 40px;

  }

  .underlineBorder:hover{
    border-bottom:2px solid black;

  }

  .searchUL ul{
    list-style-type: none;
    float: left;
  }

  .searchUL li{
    padding: 40px 0 0 0;
  }

  #socialMedia li{
    list-style-type: none;
    float: left;
    padding-right: 10px;
  }

  #sideBar{
    float: left;
    width: 8%
  }

  #sideBar li{
    list-style-type: none;
    font-size: 3.5em;
  }

  .fa{
    font-size: 1.5em;
    margin-left: 8px;
  }

  #sideBar ul{
    background-color: #b8e0f6;
    width: 7.0em;
    height: 15em;
   }

   

   .vid p{
    padding: 0 15px 0 0;
   }

   .promoted{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
     padding-left: 0px;
    padding-right: 0px;
   }


   

   .promoted img{
        opacity: 0.8;
box-shadow: 5px 5px 10px #878787;
    max-width: 95%;
    max-height: 95%;
   }

   .promoted img:hover{
    opacity: 1.0;
   }

   .modalText{
    margin: 10px 0px 10px 10px;
   }


   .headerVideos{
    font-size: 1.9em;
   }

   .mainVideos{
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
   }

   .vidRow{
    margin-top: 10px;
    background-color: #b8e0f6 !important;
    border: solid #f2f2f2;
    border-width: 3px 12px 3px 9px;
    
   }
   .glyphy{
    float: left;
   }

   .mainVid{
    padding-bottom: 10px !important;
   }

   .mainVid img{
      box-shadow: 0px 0px 7px 2px #878787;
      margin-bottom: 8px;
      max-width: 250px;
      max-height: 158px;
   }

   .instagram-media{
   }
   
  